<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Jeux</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list align="center">
    <ion-button padding href="http://jenaijamais.fr/index.php/main/play">Je n'ai jamais</ion-button>
    <ion-button padding href="https://www.acces-soiree.fr/jeux/dixit.php">dixit/biskit</ion-button>
    <ion-button padding href="jeux-picolo">Picolo like</ion-button>
    <ion-button padding href="jeux-jdr-home">Jeu de Rôle</ion-button>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/home" routerDirection="forward">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


