<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/todo-home"></ion-back-button>
    </ion-buttons>
    <ion-title>Formulaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-input required="true" type="text" placeholder="Nom" [(ngModel)]="todo.nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="Prenom" [(ngModel)]="todo.prenom"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveTodo()">Enregistrer</ion-button>
</ion-content>
