<ion-header>
  <ion-toolbar color="primary" align="center">
    <ion-title>
      Maji Maji
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list align="center">
    <br><br><br>
    <ion-button padding href="/todo-home">Gestion des invités</ion-button>
    <br><br><br>
    <ion-button padding href="/remboursement-home">Remboursement</ion-button>
    <br><br><br>
    <ion-button padding href="/jeux-home">Jeux en soirée</ion-button>
  </ion-list>




</ion-content>
